* {
      font-family: "Lora", serif;
      

  }

.posts 
     {
      
      margin-top: 50px;
     }
.text
    {
      text-align: left;
  
    }


.abc 
     {
      width: 500px;
      padding: none;
      border: 3px groove gray;
      margin: 0;
      border-radius: 10px;
      box-sizing: border-box;
     }

.title 
      {
        text-align: center;
      }



.body-trunc 
      {
      margin-left: 10px;
      margin-right: 10px;
      }

.abs {
    width: 90%;
     }


.box {
    width: 210px;
    margin: auto;
}

img {
      max-width: 100%;
      height: auto;
      overflow: hidden;
      position: relative;
      object-fit: cover;
      float: none;
      
    }